.navbar a {
  color: #869D7A;
}

.form-horizontal {
  padding-top: 12px;
}

#resultsWrapper {
  color: #5F5449
}

#main-content {
  padding-left: 70px;
  padding-bottom: 40px;
}

#findClass{
  background-color: #869D7A;
}

#findStyle {
  background-color: #869D7A;
}

.form-group label {
  font-size: 20px;
}

#result1, #result2, #result3, #result4, #resultsWrapper{
  padding-top: 50px;
  display: none;
}

#resultsWrapper a, #resultsWrapper a:hover {
  color: #fff;
}

#quizSubmit {
  color: #fff;
}

#quizSubmit:hover {
  color: #fff;
}
