body {
  font-family: serif;
  /*background-color: #e6e6e6;*/
  padding-top: 190px;
}

header {
  text-align: center;
  padding: 20px;
}

.navbar {
  font-size: 20px;
  font-weight: bolder;
  color: #5F5449;
}

.navbar a {
  color: #869D7A;
}

/*.thesis h2 {
  font-size: 50px;
  color: #5F5449;
  font-weight: bolder;
}*/

#sessionDescript {
  text-align: center;
}

#thesis {
  text-align: center;
  padding: 50px 30px;
  background-color: #C18383;
  font-family: fantasy;
}

#note{
  font-size: 15px;
}

p {
  font-size: 20px;
  color: #5F5449;
}

h1 {
  font-family: fantasy;
  font-size: 2.3em;
  color: #869D7A;
}

h2 {
  text-align: center;
  color: #5F5449;
}


.form-group label {
  font-size: 20px;
}

.form-control {
  float: right;
  /*margin-left: 10px;*/
  padding-right: 20px;
  font-size: 20px;
}

#addSession {
  padding: 0 10px;
}

th {
  font-size: 18px;
}

.sessionItem {
  font-size: 18px;
}

#result li:hover {
  cursor: pointer;
  font-weight: bold;
}

#inputClassName, #inputInstructor {
  width: 75%;
}

#sessionButton {
  background-color: #869D7A;
}

.sessionDescript {
  padding-top: 15px;
}


/*MODAL*/
#fullInfo, #acknowledgement, #signUpForm {
  display: none;
}

#om {
  clear: none;
  margin-left: 300px;
  margin-top: -200px;
}

#om img {
  width: 200px;
}
