body {
  font-family: serif;
  background-color: #e6e6e6;
  padding-top: 150px;
}

header {
  text-align: center;
}

.navbar {
  font-size: 20px;
  font-weight: bolder;
}

.thesis {
  text-align: center;
  padding: 50px 30px;
  background-color: tan;
  font-family: fantasy;
}

.sessionDescript {
  text-align: center;
}

#note{
  font-size: 15px;
}

p {
  font-size: 20px;
}

/*h1 {
  font-size: 2.5em;
  font-weight: bolder;
  color: #337ab7
}*/

h2 {
  text-align: center;
}


.form-group label {
  font-size: 20px;
}

.form-control {
  float: right;
  /*margin-left: 10px;*/
  padding-right: 20px;
  font-size: 20px;
}

#addSession {
  padding: 0 10px;
}

th {
  font-size: 18px;
}

.sessionItem {
  font-size: 18px;
}

#result li:hover {
  cursor: pointer;
  font-weight: bold;
}

#inputClassName, #inputInstructor {
  width: 75%;
}



/*MODAL*/
#fullInfo, #acknowledgement, #signUpForm {
  display: none;
}

#om {
  clear: none;
  margin-left: 300px;
  margin-top: -200px;
}

#om img {
  width: 200px;
}
